@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
	
	background-position:center;
	background-size: 600px;
	max-height:200px;
	max-width:: 200px;
    height:: 500px;
	}
	
#a {border: 5px solid #036;
         margin-top: 10px;
		 width: 300px;
		 height: 125px;
		 margin-left: 45px;
		 background-color:#FFF;
		 }	

		 
 img {max-height:125px;
	  max-width:: 500px;
	  margin-top: 50;
     }
	  
#b {
	border: 5px solid #036;
	margin:0px auto;
	margin-top: -135px;
    width: 800px;
	height: 125px;
		 
		 
		 
	}
	
#b h1 {font-family: "Comic Sans MS", cursive;
       font-size:44px;
	   color:#C90; 
	   text-align:center;}
	   
	   
	   
#c {border: 5px solid #036;
    font-family: "Comic Sans MS", cursive;
		 font-size:30px;
		 text-align:center;
		 font-weight:bold;
		 color:#036;
	     margin-top: -135px;
		 width: 300px;
		 height: 125px;
		 margin-left: 1163px;
		 }

#c h1 {
       margin-top: 20px;	
  	  }
#d{
	font-family:"Comic Sans MS", cursive;
		font-size:32px;
		color:#C90;
		font-weight: bold;
		text-align:center;
	}
	
img {max-height:125px;
	  max-width:: 500px;
	  margin-top: 50;
     }